@model Coche

<h1 style="color:blue">Controller 1 de Coche</h1>

<h1>Número: @ViewData["NUMERO"]</h1>

<img src="~/images/@Model.Imagen"
    style="width: 200px; height: 250px"/>

<h2>
    Marca: @Model.Marca, Modelo: @Model.Modelo
</h2>
<h2 style="color:red">
    Velocidad máxima: @Model.VelocidadMaxima
</h2>
<h2 style="background-color: brown; color:white">
    Velocidad actual: @Model.Velocidad
</h2>

<form method="post">
    <button class="btn btn-info" name="accion" value="acelerar">
        Acelerar
    </button>
    <button class="btn btn-danger" name="accion" value="frenar">
        Frenar
    </button>
</form>
